body {
    background: white;
}

#tm {
    font-family: 'Libre Baskerville', serif;
    
    font-family: 'Great Vibes', cursive;
} 
  
h1 {
    font-family: 'Shadows Into Light', cursive;
}


#yellow {
    color: rgb(194, 175, 3);
}

#jeans {
    float: left;
    width: 30%;
}

#paragraph1 {
    float: Right;
    width: 50%;
}  

img { 
    Width: 150%;
}

/* TODO:  Consider using hover on your a href links instead of the h1 tag - it should prompt the user to take an action */
#about:hover {
color: rgb(194, 175, 3);
}