body {
    background: rgb(238, 238, 126);
}

#tm {
    font-family: 'Lobster', cursive;
    
    font-family: 'Great Vibes', cursive;
} 
  
h1 {
    font-family: 'Shadows Into Light', cursive;
}


#green {
    color: green;
}

#jeans {
    float: left;
    width: 30%;
}

#paragraph1 {
    float: right;
    width: 50%;
}  

img { 
    Width: 150%;
}

#about:hover {
font-size: 150%;
}