body {
    background: yellow;
}

#tm {
    font-family: 'Times New Roman', Times, serif;
}

#green {
    color: green;
}

#jeans {
    float: left;
    width: 30%;
}

#paragraph1 {
    float: right;
    width: 50%;
}  

img { 
    Width: 150%;
}